.swiper-wrapper {
  position: unset;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #EEEEEE;
  opacity: 1;
}

.swiper-wrapper {
  margin-bottom: 60px;
}

.swiper-pagination-bullet-active {
  background-color: $primary-color;
  opacity: 1;
}
