.footer {
  margin-top: 80px;
  color: $text-color;
  border-top: 1px solid #EEEEEE;
  padding-top: 60px;

  &__list {
    &__downloads {
      display: flex;
      align-items: center;
      a {
        margin-inline-end: 10px;
        height: 44px;
        img {
          height: 100%;
        }
      }
    }
    &__item {
      margin-bottom: 20px;

      &__link {
        display: flex;
        align-items: center;

        i {
          color: #3EB562;
          font-size: rem(20);
          margin-inline-end: 10px;
        }
      }

      &:first-of-type{
        font-size: rem(16);
        font-weight: bold;
      }
    }

  }

  &__brief {
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 24px;
  }

  &__copy-rights {
    color: $color-white;
    background-color: #151818;
    text-align: center;
    padding: 20px;
    font-weight: 400;
    margin-top: 60px;
  }


  @include media-breakpoint-down(sm) {
    border-radius: 0;
    padding: 15px;
    margin-top: 40px;

    &__top {
      flex-direction: column;
      align-items: flex-start;
    }

    &__nav {
      &__items {
        flex-direction: column;
        align-items: flex-start;
        margin: 15px 0;

        &__item:not(:last-child) {
          margin-inline-end: 0;
          margin-bottom: 10px;
        }
      }
    }
  }
}
