.header {
  height: 100vh;

  &__top {
    padding: 30px 0;
    background-color: $color-white;
    color: $primary-color;
    box-shadow: $main-box-shadow;
    position: relative;

    &__page-title {
      font-size: rem(50);
      font-weight: 600;
      color: $text-color
    }

    @include media-breakpoint-down(sm) {
      border-radius: 0;
      padding: 15px 0;

      &__page-title {
        font-size: rem(25);
      }
    }
  }

  &__logo {
    margin-inline-end: 60px;
  }

  &__nav {
    @include flex(center);
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #EEEEEE;

    &__items {
      @include flex(center);

      &__item {
        &__link {
          color: $primary-color;
          //font-size: rem(16);

          &--search {
            display: flex;

            .icon {
              font-size: rem(17);
            }

            &--mobile {
              display: none;

              @include media-breakpoint-down(md){
                display: inline-block;
              }
            }
          }

          &--active {
            color: $secondary-color
          }
        }

        &:not(:last-child) {
          margin-inline-end: 20px;
        }

        &__dropdown {
          padding: 30px;
          position: relative;
          border-radius: 6px;

          &__heading {
            font-size: rem(18);
            margin-bottom: 30px;
          }

          &__items  {
            @include flex(center);
            margin-bottom: 30px;

            & > div:not(:last-child){
              margin-inline-end: 40px;
            }
          }

          &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: $color-white;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            top: -10px;
            #{$left}: 20px
          }
        }
      }
    }

    &-top {
      @include flex(center, flex-start);
    }

    @include media-breakpoint-down(md) {
      &__items {
        display: none;
      }
    }
  }

  &__language-switcher {
    margin-inline-end: auto;
    margin-inline-start: 15px;

    &__link {
      @include flex(center);

      &__label {
        margin: 0 5px;
      }
    }
  }

  &__toggle {
    display: none;
    margin-inline-start: 15px;

    &__icon {
      font-size: rem(40);
    }

    @include media-breakpoint-down(md) {
      display: inline-block;
    }
  }

  &__auth, &__contact {
    .btn:not(:last-child), a:not(:last-child) {
      margin-inline-end: 15px;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__contact {
   margin-inline-end: 60px;
  }

  &__main {
    height: calc(100vh - 193px); // 113 nav height + 80 main margin
    @include flex(center);
    position: relative;
    background-image: url("../images/hero.png");
    background-repeat: no-repeat;
    background-size: cover;

    @include media-breakpoint-down(sm) {
      height: calc(100vh - 40px); // 40 nav height
    }

    &__heading {
      font-size: rem(64);
      font-weight: 600;
      margin-bottom: 30px;
      color: $primary-color;
    }

    &__brief {
      font-size: rem(20);
      font-weight: 400;
      margin-bottom: 40px;
      line-height: 40px;
    }

    &__apps {
      margin-top: 80px;

      &__heading {
        font-size: rem(20);
        font-weight: 400;
        margin-bottom: 30px;
      }

      &__links {
        @include flex(center, flex-start);
        a:first-child {
          margin-inline-end: 20px;
        }
      }
    }
  }

  &.internal-pages {
    height: 323px;
    margin-bottom: 80px;

    @include media-breakpoint-down(sm){
      height: 250px;
    }
  }

  &.header-no-breadcrumb {
    height: auto;
    margin-bottom: 40px;
    background-image: none;
    background-color: transparent;
  }

  @include media-breakpoint-down(sm) {
    &__logo {
      width: 200px;
      margin-inline-end: 20px;

      img {
        width: 100%;
      }
    }

    &__language-switcher {
      margin-inline-end: 0;
      margin-inline-start: 0;
    }

    &__top {
      &__container {
        @include flex(center, flex-start);
      }
    }

    &__main {
      background-position: right;
      padding-top: 0;

      &__heading {
        font-size: rem(40);
      }

      &__brief {
        font-size: rem(16);
        line-height: 30px;
        margin-bottom: 20px;
      }

      &__apps {
        margin-top: 20px;
      }
    }

    &__nav {
      padding-top: 0;
      border: 0;
      margin-top: 0;
      &-top {
        justify-content: space-between;

      }
    }
  }
}
